body {
    padding-top: 50px;
    background: url("/konachan.jpg") no-repeat center 10px;
}

.container {
    opacity: .7;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.result-pre {
    height: 300px;
    background: #fff;
    color: #ff0099;
}

.bottom {
    color: #fff;
    background: #ff7800;
    width: 100%;
    position: fixed;
    bottom: 0;

    padding-top: 15px;
    padding-bottom: 10px;
}

.bottom p {
    margin-bottom: 3px;
}

.mucplay {
    position: fixed;
    bottom: 15px;
    right: 35px;
    width: 160px;
}

